{% extends 'base.html' %}
{%block title%}
    home
            {%endblock%}
{% block body %}
    
   <div class="container_fluid">
    <h2>add a todo</h2>

     <form actiion="/" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">todo tittle</label>
    <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">todo Description</label>
    <input type="text" class="form-control" name="desc" id="desc">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
    </div>
    
     {% if alltodo|length==0%}
          
<div class="alert alert-danger" role="alert">
  no todo to show
</div>
      {% else %}
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">titlet</th>
      <th scope="col">discribtion</th>
      <th scope="col">time</th>
    </tr>
  </thead>
  <tbody>
        
    {% for todo in alltodo %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{todo.title}}</td>
      <td>{{todo.desc}}</td>
      <td>{{todo.dates}}</td>
      <td><a href="/delete/{{todo.sno}}" type="button" class="btn btn-dark btn-sm mx-1">Delete</button>
          <a href="/update/{{todo.sno}}" type="button" class="btn btn-dark btn-sm mx-1">Update</button></td>
    </tr>
    

    {% endfor %}
    </tbody>
</table>
    {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{% endblock %}
    
  
      
